@font-face {
    font-family: "PerfectDOS";
    src: url("https://orientalramen4608.github.io/fsex300.ttf")
}

* {
    font-family: "Helvetica", Consolas, monospace;
}

h1, h2, h3 {
    font-size: 24pt;
    font-weight: normal;
    color: var(--black);
}

dateinfo {
    font-size: 10pt;
    font-weight: normal;
    color: black;
}

p {
    
}

pre {
    
    color: var(--black);
}

body {
    background-image: url("https://black-mountain-saetr.github.io/images/bg.png");
    background-size: auto
    color: black;
    --dullGreen: rgb(0,160,22);
    --brightGreen: rgb(0,180,0);
    --black: rgb(0,0,0);
    --greenGlow: 0 0 10px var(--brightGreen), 0 0 30px var(--brightGreen), 0 0 40px var(--brightGreen);
    --greyColour: rgb(0,180,22);
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

a {
    color: var(--black);
    
}

    a:hover {
       color: var(--greyColour);
    }

header {
    width: 100%;
    text-align: left;
}

.box {
  border: 1px solid green ;
}

#linkos {
    display: flex;
    justify-content: left;
}

    #linkos > * {
        padding: 0px 10px;
    }

#titlelink {
    font-size: 36pt;
    text-decoration: none;
    color: var(--black);
    
}

    #titlelink:hover {
        color: var(--greyColour);
    }
#warning {
    font-size: 15pt;
    font-weight: normal;
    color: var(--black));
}