@font-face {
    font-family: "PerfectDOS";
    src: url("https://orientalramen4608.github.io/fsex300.ttf")
}

* {
    font-family: "Helvetica", Consolas, monospace;
}

h1, h2, h3 {
    font-size: 24pt;
    font-weight: normal;
    color: var(--brightGreen);
    text-shadow: var(--greenGlow);
}

dateinfo {
    font-size: 10pt;
    font-weight: normal;
    color: grey;
}

p {
    text-shadow: var(--greenGlow);
}

pre {
    text-shadow: var(--greenGlow);
    color: var(--brightGreen);
}

body {
    background: white;
    color: white;
    --dullGreen: rgb(0,160,22);
    --brightGreen: rgb(0,180,0);
    --greenGlow: 0 0 10px var(--brightGreen), 0 0 30px var(--brightGreen), 0 0 40px var(--brightGreen);
    --greyColour: rgb(0,180,22);
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

a {
    color: var(--brightGreen);
    text-shadow: var(--greenGlow);
}

    a:hover {
       color: var(--dullGreen);
    }

img {
    max-width: 900px;
}

header {
    width: 100%;
    text-align: center;
}

.box {
  border: 1px solid green ;
}

#linkos {
    display: flex;
    justify-content: center;
}

    #linkos > * {
        padding: 0px 10px;
    }

#titlelink {
    font-size: 36pt;
    text-decoration: none;
    color: var(--black);
    text-shadow: var(--greenGlow);
}

    #titlelink:hover {
        color: var(--dullGreen);
    }
#warning {
    font-size: 15pt;
    font-weight: normal;
    color: var(--brightGreen));
}