/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@font-face {
    font-family: "Good Times";
    src: url("https://black-mountain-saetr.github.io/gt.ttf")
}

* {
    font-family: "Helvetica", Consolas, monospace;
}

h1 {
    font-family: "Good Times";
    font-size: 36pt;
    font-weight: normal;
    color: var(--black);
}

h2 {
    font-family: "Good Times";
    font-size: 24pt;
    font-weight: normal;
    color: var(--black);
}

h3 {
    font-family: "Good Times";
    font-size: 18pt;
    font-weight: normal;
    color: var(--black);
}

dateinfo {
    font-size: 10pt;
    font-weight: normal;
    color: black;
}

p {
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

pre {
    
    color: var(--black);
}

body {
    background-image: url("/images/bg1.png");
    margin: 0;
    padding: 0;
    background-size: 100vw 100vh;
    color: black;
    --dullGreen: rgb(0,160,22);
    --brightGreen: rgb(0,180,0);
    --black: rgb(0,0,0);
    --greenGlow: 0 0 10px var(--brightGreen), 0 0 30px var(--brightGreen), 0 0 40px var(--brightGreen);
    --greyColour: rgb(200,200,200);
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
.disabled {color:gray;}

a {
    color: var(black);
100  
}

    a:hover {
       color: var(darkred);
    }

header {
    text-align: center;
    background-color: #171717;
    color: darkgray;
    position:absolute;
    top:0;
    width: 100vw;
    height:30px;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    background-color: lightgray;
    color: darkgray;
    position:absolute;
    bottom:0;
    width: 100vw;
    margin: 0;
    padding: 0;
}

div.sitebody {
    margin: auto;
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    background-color: white;
}

.box {
  border: 1px solid green ;
}

#linkos {
    display: flex;
    justify-content: left;
}

    #linkos > * {
        padding: 0px 10px;
    }

#titlelink {
    font-size: 36pt;
    text-decoration: none;
    color: var(--black);
    
}

    #titlelink:hover {
        color: var(--greyColour);
    }
#warning {
    font-size: 15pt;
    font-weight: normal;
    color: var(--black));
}